/* цвет основного текста #212121; */

/* вторичный цвет текста #757575; */

/* белый #ffffff; */

/* акцент #2196f3; */

/* цвет текста контактов в футере rgba(255, 255, 255, 0.6); */

/* цвет фона #ffffff; */

/* вторичный цвет фона #f5f4fA; */

/* Цвет Футера #2F303A */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logo-text-color: #000000;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-info: rgba(255, 255, 255, 0.6);
  --footer-copyright-color: rgba(255, 255, 255, 0.4);
}

body {
  background-color: var(--primary-background-color);
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  outline: 1px solid tomato;
}

/* .container.no-padding {
  padding-bottom: 0;
} */

.logo-web {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Навигация */

.container.main {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  margin-left: 85px;
}

.nav .item + .item {
  margin-left: 50px;
}

.nav .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.nav .nav-link:hover,
.nav .nav-link:focus {
  color: var(--accent-color);
}

.nav .nav-link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 30px;
}

.contacts .contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: var(--accent-color);
}

/* Герой */

.hero {
  margin-bottom: 94px;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--white-color);
  outline: 1px solid tomato;
}

/* Button */

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;

  color: var(--white-color);
  background: var(--accent-color);
}

/* Преимущества */

.invisible-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white-color);
}

.features {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-item {
  width: 270px;
  height: 131px;
}

.features .features-item + .features-item {
  margin-left: 30px;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.features-text.no-margin {
  margin-bottom: 0;
}

/* Услуги */

.services-div {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.services {
  display: flex;
}

.services .services-item + .services-item {
  margin-left: 30px;
}

.services-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.services-text {
  margin-top: 0;
  margin-bottom: 0;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

/* Команда */

.team {
  background-color: var(--secondary-background-color);
}

.team-div {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.team-cards {
  display: flex;
}

.team-item:not(:last-child) {
  width: 270px;
  margin-right: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.team-post {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Клиенты */

.customers-div {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers-item {
  display: flex;
}

.customers-title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* Футер */

.footer {
  background-color: var(--footer-background-color);
}

.footer-text {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.footer-info {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-info);
}

.footer-copyright {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-copyright-color);
}

/* portfolio.html */

.works-invisible {
  color: var(--white-color);
}

.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.project-meaning {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.project-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
